.transparent-pattern-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./transparent-pattern.png");
  image-rendering: pixelated;
  background-size: 64px;
  background-repeat: repeat;
  opacity: 0.1;
}